@import "theme.css";

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    font-family: 'Roboto Thin', sans-serif;
    color: #1A1B41;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active,
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #1A1B41;
}

.btn-primary:focus-visible {
    color: var(--primary-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    outline: 0;
    color: #1A1B41;
    box-shadow: 0 0 0 0.25rem rgba(213, 255, 126, .5);
}